extends layout 

block content
    br
    br
    .container
        .row.justify-content-md-center
            h3 Neue Trainingsdaten hinzufügen
            br
            br
            .col-md-8
                div#form_div.active-form
                    p.col-md-12.col-form-label.fw-bolder Neue Trainingsdaten digitalisieren
                    p.col-md-12.col-form-label.fw Zeichnen Sie die neuen Trainingsdaten in dieser Karte ein und 
                        | initialisieren Sie diese mit einem entsprechenden Label und einer ID. 
                    #map 
                br
                br 
            .col-md-1
                br
                br
                br
                br
                br
                br
                br 
            .col-md-3 
                div#form_div.active-form
                    form(action='/createTrainData/uploadTrainingData' method='post' enctype="multipart/form-data")
                        label.col-md-12.col-form-label.fw-bolder(for='training') Neue Trainingsdaten hochladen
                        input#training.form-control(type='file' name="training" accept=".gpkg, .geojson" enctype="multipart/form-data")
                        button#btn_safeData.btn.btn-primary.mb-2 Speichern
                    button#btn_addData.btn.btn-primary.mb-2 Hinzufügen
                br
                br
                br
                form(action='/createTrainData/newaoa' method='post')
                    button#btn_digitalization.btn.btn-secondary.mb-2.d-grid.gap-2.col-6.mx-auto.disabled AOA erneut berechnen 
    
block scripts 
  script(src="/javascripts/trainDataJS.js" defer)