extends layout

block content

  .container
    br
    br
    .row.justify-content-md-center
      .col-md-auto
        button#demo_btn.btn.btn-primary Starte die Demo
        br  
        br
      #map







block scripts
  script(src="https://unpkg.com/georaster") 
  script(src="https://unpkg.com/georaster-layer-for-leaflet") 
  script(src="/javascripts/demoJS.js" defer)
  