extends layout 

block content
    br
    br
    .container
        .row.justify-content-md-center
            .col-md-3
                br
                br
                br
                br
                br
                div#form_div.active-form
                    form(action='/trainData/uploadTrainingData' method='post' enctype="multipart/form-data")
                        label.col-md-4.col-form-label.fw-bolder(for='training') Trainingsdaten
                        input#training.form-control(type='file' name="training" accept=".gpkg, .geojson" enctype="multipart/form-data")
                    button#btn_safeData.btn.btn-primary.mb-2 Speichern
                br
                button#btn_addData.btn.btn-primary.mb-2 Hinzufügen
            .col-md-1
                br
                br
                br
                br
                br
                br
                br
                h3 oder 
            .col-md-8
                #map
        br
        .row.justify-content-md-center
            .col-md-4
                div#form_div
                    button#btn_digitalization.btn.btn-secondary.mb-2.d-grid.gap-2.col-6.mx-auto.disabled Weiter 

block scripts 
  script(src="/javascripts/trainDataJS.js" defer)