extends layout 

block content
    br
    br
    .container
        .row.justify-content-md-center
            .col-md-8
                div#form_div.active-form
                    #map
                    br
                    .row.justify-content-md-center
                        .col-md-4
                            div#form_div.active-form
                                button#btn.btn.btn-secondary.disabled.mb-2.d-grid.gap-2.col-6.mx-auto Weiter 
            .col-md-1 
            br
            br
            .col-md-3
                div#form_div_sat.active-form
                    form(action='/satelliteimage/uploadSatelliteimage' method='post' enctype="multipart/form-data")
                        label.col-md-4.col-form-label.fw-bolder(for='trainMod') Satellitenbild
                        input#satellitenbildOne.form-control.form-control(type='file' name="satellitenbildOne" accept=".tif" enctype="multipart/form-data")
                    button.btn.btn-secondary.disabled.mb-2 Weiter
                br
                div#form_div_trainData.active-form
                    form(action='/trainData/uploadTrainingData' method='post' enctype="multipart/form-data")
                        label.col-md-4.col-form-label.fw-bolder(for='training') Trainingsdaten
                        input#training.form-control(type='file' name="training" accept=".gpkg, .geojson" enctype="multipart/form-data")
                        button#btn_addData.btn.btn-primary.mb-2 Hinzufügen
                        button#btn_safeData.btn.btn-primary.mb-2 Speichern
                        
                    
                br
                div#form_div.trainModel
                    p.col-md-12.col-form-label.fw-bolder Haben Sie ein trainiertes Modell?
                        .row.justify-content-evenly
                            .col-4
                                label
                                    input(type="radio", name="colorRadio", value="yes")
                                    | Ja
                            .col-4
                                label
                                    input(type="radio", name="colorRadio", value="no")
                                    | Nein
                        .yes.box 
                            div#form_div_trained
                                form(action='/model/uploadTrainModell' method='post' enctype="multipart/form-data")
                                        label.col-md-12.col-form-label.fw-bolder(for='trainMod') Trainiertes Modell hochladen!
                                        input#trainMod.form-control(type='file' name="trainMod" accept=".RDS" enctype="multipart/form-data" )
                                        button.btn.btn-secondary.disabled.mb-2 AOA berechnen
                        .no.box 
                            div#form_div_untrained
                                form(action='/model/uploadUntrainModell' method='post' enctype="multipart/form-data")
                                    p.col-md-12.col-form-label.fw-bolder Modell muss noch trainiert werden!
                                    button#btn_untrainMod.btn.btn-secondary.disabled.mb-2 Trainiere Modell
                
             
block scripts 
  script(src="/javascripts/areaJS.js" defer)