extends layout

block content
  main
    h1 Wiki
    br
    ul#paginated-list(data-current-page="1" aria-live="polite")
      div#form_div_active-form
        form
          label.col-md-4.col-form-label.fw-bolder(for='trainMod') Satellitenbild
          br
          | Text
      div#form_div_active-form
        form
          label.col-md-4.col-form-label.fw-bolder(for='trainMod') Modell
          br
          | Text
      div#form_div_active-form        
        form
          label.col-md-4.col-form-label.fw-bolder(for='training') Trainingsdaten
          br
          | Text
      div#form_div.active-form
        form
          label.col-md-4.col-form-label.fw-bolder(for='training') Klassifikation
          br
          | Text
      div#form_div.active-form
        form
          label.col-md-4.col-form-label.fw-bolder(for='training') Klassifikation
          br
          | Text
      div#form_div.active-form
        form
          label.col-md-4.col-form-label.fw-bolder(for='training') Area of Applicability
          br
          | Text
    nav.pagination-container
      button#prev-button.pagination-button(aria-label="Previous page" title="Previous page")
        | &amp;lt;
      #pagination-numbers
      button#next-button.pagination-button(aria-label="Next page" title="Next page")
        | &amp;gt;
  button#next-button.pagination-button(aria-label="Next page" title="Next page")
    | &amp;gt;


block scripts 
  script(src="/javascripts/wikiJS.js" defer)



