body {
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  background-color: rgb(127, 179, 247);
}


.nav-item{
  padding-left: 10px;
  list-style-type: none;
}

#map{
  height: 500px;
  width: 100%;
}

#satellitenbild{
  margin-bottom: 3px;
}