body {
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  background-color: rgb(127, 179, 247);
}


.nav-item{
  padding-left: 10px;
  list-style-type: none;
}

#map{
  height: 470px;
  width: 100%;
}

#logo{
  width: 51px;
  height: 30px;
}

#satellitenbild, #training, #label, #klassenID, #trainMod, #untrainMod{
  margin-bottom: 3px;
}

#form_div, #form_div_train, #form_div_untrain, #form_div_sat{
  padding: 10px;
  border-radius: 15px;
}

#form_div_popup{
  padding: 2px;
  border-radius: 15px;
}

.active-form{
  background-color: rgb(127, 179, 247);
}
