extends layout 

block content
    br
    .container#site
        .row.justify-content-md-center
            .col-md-8
                div#form_div.active-form.form_dis
                    br
                    #map
                    br
            .col-md-3
                br
                #form_div.active-form.form_dis
                    form(action='/aoa/updateTrainData' method='get')
                        p.col-md-12.col-form-label.fw-bolder Neue Trainigsdaten digitaliseiren 
                        button.btn.btn-primary Start
                        button.btn.btn-outline-primary(type='button' data-bs-toggle='popover' data-bs-title='Neue Trainingsdaten' data-bs-content="Falls Sie mit ihrer Klassifikation nicht zufrieden sind und/oder die AOA Verbesserungen vorschlägt, können Sie hier neue Trainingsdaten digitalisieren, zu dieser Seite zurückkehren und Verbesserungen bestaunen. Dadurch starten Sie einen iterativen Prozess, der Sie zu einem Ergebnis leitet, mit welchem Sie auch zufrieden sind.  ") Hilfe
                #form_div.active-form
                    p.col-md-12.col-form-label.fw-bolder Ergebnisse
                    form(action='/aoa/downloadData' method='post')
                        br
                        input#1.gaucher(type='checkbox' name="prediction" onchange="processCheck(this)")
                        label(for="1") Klassifikation
                        br
                        br
                        input#2.gaucher(type='checkbox' name="aoa" onchange="processCheck(this)")
                        label(for="2") Area of Applicability
                        br
                        br
                        input#3.gaucher(type='checkbox' name="locations" onchange="processCheck(this)")
                        label(for="3") Trainingsvorschläge
                        br
                        br
                        input#4.gaucher(type='checkbox' name="model" onchange="processCheck(this)")
                        label(for="4") Trainiertes Modell
                        br
                        br
                        input#5.gaucher(type='checkbox' name="traindata" onchange="processCheck(this)")
                        label(for="5") Trainingsdaten
                        br
                        br
                        button.btn.btn-primary.mb-2 Download
    .container.visually-hidden#loading
        .ring Loading 
            mspan    
        p#message.visually-hidden= message               
                
             
block scripts
    script(src="https://unpkg.com/georaster")
    script(src="https://unpkg.com/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js")
    script(src="/javascripts/ergebnisseJS.js" defer)