extends layout 

block content
    br
    br
    .container
        .row.justify-content-md-center
            .col-md-8
                div#form_div.active-form
                    #map 
                    br
                    form(action='/aoa/updateTrainData' method='post' enctype="multipart/form-data")
                        button#btn_createData.btn.btn-primary.mb-2 Trainingsdaten hinzufügen
            .col-md-1 
            br
            br
            .col-md-3
                div#form_div.active-form
                    p.col-md-12.col-form-label.fw-bolder Ergebnisse
                    form(action='/downloadData' method='post')
                        br
                        input#1.gaucher(type='checkbox' name="prediction" onchange="processCheck(this)")
                        label(for="1") Prediction Map
                        br
                        br
                        input#2.gaucher(type='checkbox' name="aoa" onchange="processCheck(this)")
                        label(for="2") Area of Applicability
                        br
                        br
                        input#3.gaucher(type='checkbox' name="locations" onchange="processCheck(this)")
                        label(for="3") Recommended locations for training data
                        br
                        br
                        input#4.gaucher(type='checkbox' name="model" onchange="processCheck(this)")
                        label(for="4") Trained model
                        br
                        br
                        input#5.gaucher(type='checkbox' name="traindata" onchange="processCheck(this)")
                        label(for="5") Traindata
                        br
                        br
                        button.btn.btn-primary.mb-2 Download
                
             
block scripts
    script(src="/javascripts/ergebnisseJS.js" defer)