extends layout 



block content 
  h1= message

  h1 Impressum 

  div
    span AtlantGIS GmbH 
    br
    span Institut für Geoinformatik
    br
    span Geo1 Gebäude 
    br
    span Heisenbergstr. 2, 48149 Münster
    p 
    br
    span Projektleiter: Hendrik Lüning
    br 
    span Crew: Maxi Elfers, Hendrik Lüning, Maike Schröder, Derya Sen
   
   