extends layout 



block content 
  h1= message

  h1 Impressum 

  div
    span AtlantGIS GmbH 
    br
    span Fachbereich Geowissenschaft 
    br
    span Geo1 Gebäude 
    br
    span Heisenbergstr. 2, 48149 Münster
    p 
    br
    span Projektleiter: Hendrik Lüning
    br 
    span Crew: Maxi Elfers, Lena Long, Hendrik Lüning, Maike Schröder, Derya Sen
   
   

  // script(src='/javascripts/analyseJS.js')