extends layout

block content
  h1= message
  .container
      .row.justify-content-md-center
        .col-md-3
        .col-md-auto
          h1 Willkommen auf unserer Website
        .col-md-3 
      br
      br
      br
      br
      .row.justify-content-md-center
        .col-md-3
        .col-md-auto
          form(action='/upload_satellitenbild' method='post')
            label.col-md-4.col-form-label.fw-bolder(for='satellitenbild') Satellitenbild
            input#satellitenbild.form-control.form-control-lg(type='file' name="satellitenbild" accept=".tif")
            button.btn.btn-primary.mb-2(type='submit') Weiter
        .col-md-3
          

block scripts 
  script(src="/javascripts/indexJS.js" defer)
