extends layout

block content
  .container-fluid
      .row.justify-content-md-center
        .col-md-3
            img.float-start.img-fluid(src='./images/Münster_Karte_links.png')
        .col-md-6
          br
          h1.text-center Willkommen auf unserer Website
          br
          br
          .row.justify-content-md-center
            .col-md-1 
            .col-md-10
              p.fs-3.text-center Auf dieser Website können Sie Satelliten- und Trainigsdaten hochladen 
                |  diese mit hilfe des "Random Forest"-Algorithmus klassifizieren
                |  und außerdem die AOA ("Area of applicability") für das Modell berechnen lassen.
            .col-md-1
          br
          br
          .row.justify-content-md-center
            .col-md-auto
              a.btn.btn-primary.btn-lg(href='/workflow' role='button') Beginne jetzt
        .col-md-3      
          img.float-end.img-fluid(src='./images/Münster_Karte_rechts.png') 
          

block scripts 
