extends layout

block content
  h1= message
  .container
      .row 
        .col-md-4
          form(action='/upload_satellitenbild' method='post')
            label.col-md-4.col-form-label(for='satellitenbild') Satellitenbild
            input#satellitenbild.form-control(type='file' name="satellitenbild" accept=".tif")
            button.btn.btn-primary.mb-2(type='submit') Speichern
          form(action='/upload_training' method='post')
            label.col-md-4.col-form-label(for='training') Trainingsdaten
            input#training.form-control(type='file' name="training" accept=".gpkg")
            button.btn.btn-primary.mb-2(type='submit') Speichern
          form(action='/calculate_AOA' method='post')
            button.btn.btn-primary.mb-2(type='submit') AOA berechnen
        .col-md-8
          #map

block scripts 
  script(src="/javascripts/leaflet.js" defer)
  script(src="/javascripts/indexJS.js")
