doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title= title

    link(rel="stylesheet" href="/stylesheets/style.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")

    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3' crossorigin='anonymous')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js")

    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="")
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin="")


    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js")

    script(src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js")


  body
    nav.navbar.navbar-expand-lg
      #navbar-header

      #navbarToggler.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
          li.nav-item
            a.navText#navbarStart.fs-5.text-white.nav-link(href="/") Startseite 
          li.nav-item
            a.navText#navbarTrain.fs-5.disabled.text-white-50.nav-link(href="/trainData") Trainingsdaten
          li.nav-item
            a.navText#navbarAna.fs-5.disabled.text-white-50.nav-link(href="/Ergebisse") Ergebnisse
          li.nav-item
            a.navText#navbarStart.fs-5.text-white.nav-link(href="/project") Projekt
          li.nav-item
            a.navText#navbarStart.fs-5.text-white.nav-link(href="/wiki") Lexikon
          li.nav-item
            a.navText#navbarStart.fs-5.text-white.nav-link(href="/demo") Demo 
          li.nav-item
            a.navText#navbarImp.fs-5.text-white.nav-link(href="/impressum") Impressum

    block content


    block footer 
    footer#sticky-footer.footer.fixed-bottom.flex-shrink-0.py-4.bg-light.text-black-50
      .container-fluid.text-center
        .row.justify-content-md-center
          .col-3
          .col-6
            small Copyright © AtlantGIS GmbH
          .col-1
            img#logo(src='/images/AtlantGIS_Logo_50x85.jpg')
          .col-2
            p.form-check.form-switch
              input#switchDark.form-check-input(type='checkbox' role='switch' onclick='activateDarkMode()')
              label.form-check-label(for='switchDark') Darkmode
              script(src='/javascripts/darkmode.js' )
      

    block scripts
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')