extends layout

block content
    br
    br
    .container
        .row.justify-content-md-center
            .col-md-1 
            .col-md-4 
                div#form_div_train
                    form(action='/satelliteimage/uploadSatelliteimage' method='post' enctype="multipart/form-data")
                        label.col-md-4.col-form-label.fw-bolder(for='trainMod') Satellitenbild
                        input#satellitenbildOne.form-control.form-control-lg(type='file' name="satellitenbildOne" accept=".tif" enctype="multipart/form-data")
                        button.btn.btn-secondary.mb-2 Weiter

block scripts
  