extends layout 

block content
    br
    .container.trainDataSite#site
        .row.justify-content-md-center
            .col-md-2
                div#form_div.active-form
                    p.col-md-12.col-form-label.fw#KlassenTabelle
            .col-md-7
                div#form_div.active-form
                    h3.col-md-12.col-form-label.fw-bolder Neue Trainingsdaten digitalisieren
                    p.col-md-12.col-form-label.fw Zeichnen Sie die neuen Trainingsdaten in dieser Karte ein und 
                        | initialisieren Sie diese mit einem entsprechenden Label und einer ID. 
                    #mapTrain 
                    .row.justify-content-md-center(style="margin-top: 10px; margin-bottom: 5px")
                        .col-md-4
                            form(action='/createTrainData/uploadTrainingData' method='post')
                                input#traindata(type='hidden' name='traindata')
                                button#btn_saveTrainData.btn.btn-secondary.disabled Trainingsdaten speichern
            .col-md-3
                div#form_div_trainData.active-form
                    form(action='/createTrainData/uploadNewTrainingData' method='post' enctype="multipart/form-data")
                        label.col-md-12.col-form-label.fw-bolder(for='trainingUpdate') Trainingsdaten hochladen
                        input#training.form-control(type='file' name="trainingUpdate" accept=".gpkg, .geojson" enctype="multipart/form-data")
                        button#btn_loadNewData.btn.btn-primary.mb-2 Speichern 
                br
                br
                div#form_div.active-form
                    form(action='/createTrainData/newaoa' method='post')
                        label.col-md-12.col-form-label.fw-bolder Neue Klassifikation erstellen
                        p.col-md-12.col-form-label.fw Sobald Sie alle Trainnigsdaten hochgeladen oder digitalisiert haben,
                        | können Sie eine neue Klassifikation erstellen lassen und die neue AOA mit der alten AOA vergleichen.
                        br
                        br
                        button#btn_newAoa.btn.btn-secondary.disabled.mb-2 AOA erneut berechnen 
    br
    br
    br
    p#helpTrainData.visually-hidden= message
    .container.visually-hidden#loading
        .ring Loading 
            mspan
block scripts 
  script(src="/javascripts/trainDataJS.js" defer)