extends layout 

block content
    br
    br
    .container
        .row.justify-content-md-center
            br
            br
            .col-md-8
                div#form_div.active-form
                    p.col-md-12.col-form-label.fw-bolder Neue Trainingsdaten digitalisieren
                    p.col-md-12.col-form-label.fw Zeichnen Sie die neuen Trainingsdaten in dieser Karte ein und 
                        | initialisieren Sie diese mit einem entsprechenden Label und einer ID. 
                    #map 
                    br
                    .row.justify-content-md-center
                        .col-md-3
                            button#btn_digitalization.btn.btn-secondary.disabled Trainingsdaten speichern
        
                br
                br 
            .col-md-3 
                div#form_div.active-form
                    form(action='/createTrainData/uploadTrainingData' method='post' enctype="multipart/form-data")
                        label.col-md-12.col-form-label.fw-bolder(for='training') Neue Trainingsdaten hochladen
                        input#training.form-control(type='file' name="training" accept=".gpkg, .geojson" enctype="multipart/form-data")
                        button#btn_safeData.btn.btn-primary.mb-2 Speichern
                    button#btn_addData.btn.btn-primary.mb-2 Hinzufügen
                br
                br
                br
                form(action='/createTrainData/newaoa' method='post')
                    button#btn_newAoa.btn.btn-secondary.disabled AOA erneut berechnen 
    
block scripts 
  script(src="/javascripts/trainDataJS.js" defer)