extends layout

block content
    br
    br
    .container
        .row.justify-content-md-center
            .col-md-3
            .col-md-6
                div#form_div_sat.active-form
                    form
                        label.col-md-4.col-form-label.fw-bolder(for='satellitenbild') Satellitenbild
                        input#satellitenbild.form-control.form-control-lg(type='file' name="satellitenbild" accept=".tif")
                    button#btn_satellite.btn.btn-primary.mb-2 Weiter
                br
                br
                br
            .col-md-3
        .row.justify-content-md-center
            .col-md-1 
            .col-md-4 
                div#form_div_train
                    form(action='/workflow/uploadSatelliteimageTrainModell' method='post' enctype="multipart/form-data")
                        label.col-md-4.col-form-label.fw-bolder(for='trainModell') Trainiertes Modell
                        input#trainModell.form-control.form-control-lg(type='file' name="trainModell" accept=".RDS" enctype="multipart/form-data" disabled=true)
                        button#btn_trainModell.btn.btn-secondary.mb-2.disabled Weiter
            .col-md-2 
                br
                br
                h3.text-center oder
            .col-md-4 
                div#form_div_untrain
                    form(action='/workflow/uploadSatelliteimageUntrainModell' method='post' enctype="multipart/form-data")
                        label.col-md-4.col-form-label.fw-bolder(for='untrainModell') Nicht-trainiertes Modell
                            button#btn_untrainModell.btn.btn-secondary.mb-2.disabled Weiter
                br
            .col-md-1

block scripts 
  script(src="/javascripts/workflowJS.js" defer)